#time-refresher{
    cursor: pointer;
}

.text-breaks {
    word-break: keep-all!important;
}

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
    margin-left: 0;
    }
    #page-content-wrapper {
    min-width: 0;
    width: 100%;
    }
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: -15rem;
    }
}

.list-group-flush{
    overflow: auto;
    height: 742.2px;
}

.list-group-flush::-webkit-scrollbar, .q3-table-container::-webkit-scrollbar{
    width: 8px;
}

.list-group-flush::-webkit-scrollbar-thumb, .q3-table-container::-webkit-scrollbar-thumb {
    background: linear-gradient(212deg, rgba(223,34,238,0.8) 3%, rgba(37,180,220,0.8) 89%);
    border-radius: 8px;
}

.navbar-header{
    padding: 9.6px 0!important;
}

.q3-modal-items{
    cursor: pointer;
}
.q3-table-container {
    height: 256px;
    overflow-y: auto;
}
.q3-badge {
    overflow-x: clip;
    max-width: 80px;
    text-overflow: ellipsis;
}

.q-4{
    overflow: hidden;
}
.q-4 textarea{
  height: 300px;
}

@media (min-width: 280px){
    .esca-empty-space {
        width: 5%!important;
    }
}
@media (max-width: 767px){
    .esca-empty-space {
        width: 5%!important;
    }
}
@media (min-width: 768px){
    .esca-empty-space {
        width: 15%!important;
    }
}