/* 고정 크기 */

#sidebarToggle {
    width: 82px;
}
.q-box {
    height: 645px;
}
.q3-head-name,.q3-head-ganre,.q3-th-ganre {
    text-overflow: ellipsis;
}
#wrapper {
    width: 100%;
}

/* 반응형 */
@media (min-width : 320px){
    .q-top, .q-box {
        width: 288px;
    }
    .q-box {
        height: 650px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 50px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .q3-td-name {
        max-width: 80px;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .q3-td-button{
        width: 54px;
    }
    canvas {
        top: 20%;
        left: 14%;
        width: 178px!important;
        height: 175px!important;
    }
    .first-hex-text {
        top: -2%;
    }
    .second-hex-text {
        top: 23%;
        left: -9%;
        width: 288px!important;
    }
    .third-hex-text {
        top: 74%;
        left: -11%;
        width: 279px;
    }
    .fourth-hex-text {
        bottom: -14%;
    }
    .reset-svg {
        bottom: -12%;
    }
    .l-one {
        top: 14px;
    }
    .l-two {
        top: 6px;
        left: -6px;
    }
    .l-three {
        top: 22px;
        left: -5px;
    }
}

@media (min-width : 375px){
    .q-top, .q-box {
        width: 342px;
    }
    .q-box {
        height: 650px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 60px;
        width: 60px;
    }
    .q3-td-name {
        max-width: 120px;
        width: 120px;
    }
    .q3-td-button{
        width: 54px;
    }
    canvas {
        top: 18%;
        left: 14%;
        width: 217px!important;
        height: 215px!important;
    }
    .first-hex-text {
        top: 0%;
    }
    .second-hex-text {
        left: -5%;
        width: 330px!important;
    }
    .third-hex-text {
        left: -6%;
        width: 318px;
    }
    .fourth-hex-text {
        bottom: -11%;
    }
    .reset-svg {
        bottom: -10%;
    }
    .l-one {
        top: 11px;
    }
    .l-two {
        top: 1px;
        left: -8px;
    }
    .l-three {
        top: 20px;
        left: -7px;
    }
}

@media (min-width : 425px){
    .q-top, .q-box {
        width: 391px;
    }
    .q-box {
        height: 650px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 84px;
        width: 84px;
    }
    .q3-td-name {
        max-width: 152px;
        width: 152px;
    }
    .q3-td-button{
        width: 54px;
    }
    canvas {
        top: 17%;
        left: 14%;
        width: 256px!important;
        height: 251px!important;
    }
    .first-hex-text {
        top: 1%;
    }
    .second-hex-text {
        left: -1%;
        width: 359px!important;
    }
    .third-hex-text {
        left: -7%;
        width: 365px;
    }
    .fourth-hex-text {
        bottom: -9%;
    }
    .reset-svg {
        bottom: -7%;
    }
    .l-one {
        top: 9px;
    }
    .l-two {
        top: -3px;
        left: -9px;
    }
    .l-three {
        top: 20px;
        left: -9px;
    }
}

@media (min-width : 768px){
    .q-top, .q-box {
        width: 565px;
    }
    .q-box {
        height: 650px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 84px;
        width: 84px;
    }
    .q3-td-name {
        max-width: 324px;
        width: 324px;
    }
    .q3-td-button{
        width: 54px;
    }
    canvas {
        top: 15%;
        left: 14%;
        width: 385px!important;
        height: 378px!important;
    }
    .first-hex-text {
        top: 3%;
    }
    .second-hex-text {
        left: 1%;
    }
    .third-hex-text {
        left: -3%;
    }
    .fourth-hex-text {
        bottom: -6%;
    }
    .reset-svg {
        bottom: -5%;
    }
    .l-one {
        top: 3px;
    }
    .l-two {
        top: -14px;
        left: -12px;
    }
    .l-three {
        top: 20px;
        left: -12px;
    }
    #wrapper {
        width: 590px;
    }
}

@media (min-width : 1024px){
    .q-top, .q-box {
        width: 532px;
    }
    .q-box {
        height: 645px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 84px;
        width: 84px;
    }
    .q3-td-name {
        max-width: 292px;
        width: 292px;
    }
    .q3-td-button{
        width: 54px;
    }
    canvas {
        width: 360px!important;
        height: 355px!important;
    }
    #wrapper {
        width: 795px;
    }
}

@media (min-width : 1440px){
    .q-top, .q-box {
        width: 860px;
    }
    .q-box {
        height: 645px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 84px;
        width: 84px;
    }
    .q3-td-name {
        max-width: 612px;
        width: 612px;
    }
    .q3-td-button{
        width: 54px;
    }
    canvas {
        top: 17%;
        width: 274px!important;
        height: 267px!important;
    }
    .first-hex-text {
        top: 0%;
    }
    .second-hex-text {
        left: -1%;
        width: 390px!important;
    }
    .third-hex-text {
        left: -6%;
        width: 390px!important;

    }
    .fourth-hex-text {
        bottom: -9%;
    }
    .reset-svg {
        bottom: -8%;
    }
    .l-one {
        top: 8px;
    }
    .l-two {
        top: -5px;
        left: -9px;
    }
    .l-three {
        top: 19px;
        left: -9px;
    }
    #wrapper {
        width: 1128px;
    }
}
@media (min-width : 1920px){
    .q-top, .q-box {
        width: 1032px;
    }
    .q-box {
        height: 645px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 84px;
        width: 84px;
    }
    .q3-td-name {
        max-width: 792px;
        width: 792px;
    }
    .q3-td-button{
        width: 54px;
    }
    canvas {
        top: 16%;
        left: 14%;
        width: 338px!important;
        height: 330px!important;
    }
    .first-hex-text {
        top: 2%;
    }
    .second-hex-text {
        left: 1%;
    }
    .third-hex-text {
        left: -3%;
    }
    .fourth-hex-text {
        bottom: -6%;
    }
    .reset-svg {
        bottom: -4%;
    }
    .l-one {
        top: 5px;
    }
    .l-two {
        top: -10px;
        left: -12px;
    }
    .l-three {
        top: 20px;
        left: -11px;
    }
    #wrapper {
        width: 1296px;
    }
}

@media (min-width : 2560px){
    .q-top, .q-box {
        width: 1028px;
    }
    .q-box {
        height: 645px;
    }
    .q3-head-ganre,.q3-th-ganre{
        max-width: 84px;
        width: 84px;
    }
    .q3-td-name {
        max-width: 788px;
        width: 788px;
    }
    .q3-td-button{
        width: 54px;
    }
    #wrapper {
        width: 1296px;
    }
}