.combined-input {
  display: inline-flex;
  align-items: center;
}
.estimateCalc_background {
	background-image: url(/resources/img/layer-8-copy-7-450x60.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.input-field {
  border: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: none;
}

.fixed-text {
  margin-left: 5px;
  font-size: 16px;
  width: 11%;
}

.margin-center {
  margin: 0 auto;
}

.next-btn {
  width: 20% !important;
}
.submit-btn {
  height: 20% !important;
}

/* donut style */
.donut-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background 0.3s ease-in-out;
  background: conic-gradient(#df22ee 0% 0%, #f2f2f2 100% 0%);
}
.donut-fill {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 30px);
  font-size: 36px;
  color: #fff;
}
.donut-container::before {
  color: #fff;
  width: 70%;
  background: #25b4dc;
  border-radius: 50%;
  position: absolute;
  left: 16%;
  top: 16%;
  display: block;
  content: "";
  transform: skew(-0.03deg);
  margin: auto;
  padding-bottom: 70%;
}

.important-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.tooltip-inner {
	word-break: keep-all;
}

/* stick img style */
.animated-img {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animated-img.show {
  opacity: 1;
  transform: translateX(0);
}
.calc-first-img {
	padding-left: 104px;
}
.calc-second-img {
	padding-left: 52px;
}
/* calc main style */

.calcQuestion {
	width: 70%;
}

.invalid-feedback{
	font-size: 12px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* calculation Two style */
.bgc-disabled{
	background-color: #e9ecef!important;
}

.margin-left-auto {
	margin-left: auto;
}

.table-style {
	background-color: #fff;
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,0.125);
}

.modal #label-table label {
  cursor: pointer;
}

.disabled-input {
  pointer-events: none;
  background-color: #fff;
}

.rating-first,.rating-second,.rating-third {
  border: none;
  display: none;
}

.surf-btn:hover {
  background-color: #6c757d!important;
  color: #fff!important;
}

/* claculation Three style */

.hex {
  position: relative;
}

.hex-text{
  position: absolute;
}
.first-hex-text {
  top: 2%;
  left: 2%;
}
.second-hex-text {
  top: 25%;
}
.third-hex-text {
  top: 71%;
  left: 4%;
}
.fourth-hex-text {
  bottom: -4%;
  left: 2%;
}

.lines{
  position: absolute;
  left: 4.5%;
  top: 4%;
}
.line {
  position: absolute;
}
.l-two{
  top: -20px;
  left: -12px;
}
.l-three{
  top: 20px;
  left: -12px;
}
#explane-area {
  resize: none;
  background-color: #fff!important;
}

.reset-svg{
  position: absolute;
  bottom: -4%;
  right: 4%;
  cursor: pointer;
}

.reset-svg.mouse-in{
  animation-duration: 1s;
  animation-name: rotate;
}

@keyframes rotate {
  from{
    transform: rotate(180deg);
  }
  to{
    transform: rotate(540deg);
  }
}

canvas{
	position: absolute;
  top: 15%;
  left: 14.5%;
  width: 432px!important;
  height: 428px!important;
  z-index: 99;
}

@media (max-width: 1920px){
  canvas{
    top: 16.6%;
    left: 14.6%;
    width: 309px!important;
    height: 303px!important;
    z-index: 99;
  }
  .l-one{
    top: 6px;
  }
  .l-two{
    top: -8px;
    left: -10px;
  }
  .l-three{
    top: 20px;
    left: -11px;
  }
}