.combined-input {
  display: inline-flex;
  align-items: center;
}
.estimateCalc_background {
	background-image: url(/resources/img/layer-8-copy-7-450x60.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.input-field {
  border: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  outline: none;
}

.fixed-text {
  margin-left: 5px;
  font-size: 16px;
  width: 11%;
}

.margin-center {
  margin: 0 auto;
}

.next-btn {
  width: 20% !important;
}
.submit-btn {
  height: 20% !important;
}

/* donut style */
.donut-container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  text-align: center;
  transition: background 0.3s ease-in-out;
  background: conic-gradient(#df22ee 0% 0%, #f2f2f2 100% 0%);
}
.donut-fill {
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 30px);
  font-size: 36px;
  color: #fff;
}
.donut-container::before {
  color: #fff;
  width: 70%;
  background: #25b4dc;
  border-radius: 50%;
  position: absolute;
  left: 16%;
  top: 16%;
  display: block;
  content: "";
  transform: skew(-0.03deg);
  margin: auto;
  padding-bottom: 70%;
}

.important-img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.tooltip-inner {
	word-break: keep-all;
}

/* stick img style */
.animated-img {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.animated-img.show {
  opacity: 1;
  transform: translateX(0);
}
.calc-first-img {
	padding-left: 104px;
}
.calc-second-img {
	padding-left: 52px;
}
/* calc main style */

.calcQuestion {
	width: 70%;
}

.invalid-feedback{
	font-size: 12px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* calculation Two style */
.bgc-disabled{
	background-color: #e9ecef!important;
}

.margin-left-auto {
	margin-left: auto;
}

.table-style {
	background-color: #fff;
	border-radius: 12px;
	border: 1px solid rgba(0,0,0,0.125);
}

.modal #label-table label {
  cursor: pointer;
}

.disabled-input {
  pointer-events: none;
  background-color: #fff;
}

.rating-first,.rating-second,.rating-third {
  border: none;
  display: none;
}

.surf-btn:hover {
  background-color: #6c757d!important;
  color: #fff!important;
}

/* claculation Three style */

.hex-progress{
	width: 400px;
	height: 480px;
}

.hex {
  position: relative;
}
/* .hex::before{
  content: "";
  position: absolute;
  top: 52%;
  left: 46%;
  transform: translate(-50%, -50%);
  width: 4px;
  height: 4px;
  background-color: black;
  border-radius: 50%;
} */
.hex-progress .track, .hex-progress .fill{
	fill: rgba(0, 0, 0, 0);
	stroke-width: 8;
	transform: translate(290px, 800px)rotate(-120deg);
}
.hex-progress .track,.small-hex-progress .track{
	stroke: rgb(56, 71, 83);
}

.hex-text{
  position: absolute;
}

.hex-text1{ font-weight: bold; top: -4%; left: 42%;}
.hex-text2{ font-weight: bold; top: 22%; right: 2%;}
.hex-text3{ font-weight: bold; top: 22%;}
.hex-text4{ font-weight: bold; top: 72%; right: 0%;}
.hex-text5{ font-weight: bold; bottom: 18%; left: -10%;}
.hex-text6{ font-weight: bold; bottom: -10%; right: 49%;}

.small-hex-progress {
  width: 200px;
  height: 240px;
  position: absolute;
  top: calc(50% - 116px);
  left: calc(50% - 116px);
  cursor: pointer;
}

.hexagon-point {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ff0000;
  border-radius: 50%;
  cursor: move;
}
#hexagon {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border: 2px solid #000000;
  overflow: hidden;
}

#hexFever{
  transform: rotate(270deg);
  top: 30%;
  left: 29%;
}
#hexMaterial{
  transform: rotate(-30deg);
  top: 41%;
  right: 18%;
}
#hexAs{
  transform: rotate(210deg);
  top: 41%;
  left: 13%;
}
#hexNoise{
  transform: rotate(30deg);
  top: 60%;
  right: 18%;
}
#hexStability{
  transform: rotate(150deg);
  top: 60%;
  left: 13%;
}
#hexQc{
  transform: rotate(90deg);
  top: 70%;
  right: 34%;
}

.hex input {
  position: absolute;
  width: 37%;
  z-index: 1;
}

.hex-range::-webkit-slider-thumb {
  background-color: black !important;
  height:12px!important;
	width:12px!important;
}
/* .hex-range::-webkit-slider-runnable-track {

} */

#explane-area {
  resize: none;
  background-color: #fff!important;
}

/* #hexCanvas{
  width: 366px;
  height: 317px;
  position: absolute;
  top: 18.7%;
  left: 3%;
} */

