html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide video {
  display: block;
  object-fit: cover;
}

.menu {
  min-width: 100px;
  width: 70%;
  max-width: 320px;

  background-color: #2c8dfb;
  color: #fff;
}

.content {
  width: 100%;
}

.menu-button {
  position: absolute;
  top: 0px;
  left: 0px;

  padding: 15px;

  cursor: pointer;

  -webkit-transition: 0.3s;
  transition: 0.3s;

  background-color: #2c8dfb;

  z-index: 999;
}

.menu-button .bar:nth-of-type(1) {
  margin-top: 0px;
}

.menu-button .bar:nth-of-type(3) {
  margin-bottom: 0px;
}

.bar {
  position: relative;
  display: block;

  width: 50px;
  height: 5px;

  margin: 10px auto;
  background-color: #fff;

  border-radius: 10px;

  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.menu-button:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(1.5px) rotate(-4.5deg);
  -ms-transform: translateY(1.5px) rotate(-4.5deg);
  transform: translateY(1.5px) rotate(-4.5deg);
}

.menu-button:hover .bar:nth-of-type(2) {
  opacity: 0.9;
}

.menu-button:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-1.5px) rotate(4.5deg);
  -ms-transform: translateY(-1.5px) rotate(4.5deg);
  transform: translateY(-1.5px) rotate(4.5deg);
}

.cross .bar:nth-of-type(1) {
  -webkit-transform: translateY(15px) rotate(-45deg);
  -ms-transform: translateY(15px) rotate(-45deg);
  transform: translateY(15px) rotate(-45deg);
}

.cross .bar:nth-of-type(2) {
  opacity: 0;
}

.cross .bar:nth-of-type(3) {
  -webkit-transform: translateY(-15px) rotate(45deg);
  -ms-transform: translateY(-15px) rotate(45deg);
  transform: translateY(-15px) rotate(45deg);
}

.cross:hover .bar:nth-of-type(1) {
  -webkit-transform: translateY(13.5px) rotate(-40.5deg);
  -ms-transform: translateY(13.5px) rotate(-40.5deg);
  transform: translateY(13.5px) rotate(-40.5deg);
}

.cross:hover .bar:nth-of-type(2) {
  opacity: 0.1;
}

.cross:hover .bar:nth-of-type(3) {
  -webkit-transform: translateY(-13.5px) rotate(40.5deg);
  -ms-transform: translateY(-13.5px) rotate(40.5deg);
  transform: translateY(-13.5px) rotate(40.5deg);
}

.swiper-slide .btn{
  position: absolute;
  top: 7%;
  right: 5%;
}

.list-group-item.list-group-item-action {
  cursor: pointer;
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}

.swiper-video {
  height: 100%;
}


.banpum-mall-video-one {
  position: absolute;
  right: 10%;
  top: 0%;
  height: 480px;
}

.my-page-video-monitor {
  position: absolute;
  width: 1184px!important;
  right: -0.7%;
  opacity: 0;
}

.tooltip-inner {
  font-size: 16px;
}
.esca-video-slide,.banpum-mall-video-slide,.my-page-video-slide,.esca-storage-video-slide,.costomer-service-video-slide {
  background-color: #22b3de;
}
.slide-btns {
  width: fit-content;
}
/* esca mobile text ver */
.mobile-container {
  width: 100%;
}
.mobile-container p {
  margin: 0;
  padding: 0;
}
.text-p {
  color: #90179c;
}
.text-w {
  color: #ffffff;
}
.header-a, .header-b, .body-a ,.body-b ,.body-c,.body-d,.body-e,.body-f,.body-g,.footer-a,.footer-b {
  display: none;
}
.body-a ,.body-b ,.body-c,.body-d,.body-e,.body-f,.body-g,.footer-a,.footer-b{
  animation: waveAnimation 1.5s forwards;
}
.header-a {
  white-space: pre-wrap;
}
.header-b {
  animation: LtoR 0.6s ease-in-out;
}
.esca-mobile-header {
  font-size: 2rem;
  font-weight: 600;
  width: 100%;
  position: absolute;
  top: 15%;
}
.esca-mobile-body {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 86%;
  position: absolute;
  top: 32%;
}
.speach-bubble-p {
  padding: 8px 8px 0 8px!important;
  font-weight: 500;
  margin-bottom: 1%!important;
  background-color: #90179c;
  border-radius: 12px;
  color: #fff;
}
.speach-bubble-w {
  font-weight: 900;
  margin-bottom: 3%!important;
  padding: 8px 8px 0 8px!important;
  background-color: #ffffff;
  border-radius: 12px;
}
.esca-mobile-footer {
  font-size: 1.5rem;
  font-weight: 600;
  width: 100%;
    position: absolute;
    top: 80%;
}
.header-a span {
  opacity: 0;
  display: inline-block;
  animation: waveEffect 1s forwards;
}
@keyframes waveEffect {
  from {
      opacity: 0;
      transform: translateY(100%);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}
@keyframes waveEffectTtoB {
  from {
      opacity: 0;
      transform: translateY(0);
  }
  to {
      opacity: 1;
      transform: translateY(100%);
  }
}
@keyframes waveAnimation {
  from {
      transform: translateY(20px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
@keyframes LtoR {
  0% {
      opacity: 0;
      transform: translateX(-100%);
  }
  80% {
      opacity: 1;
      transform: translateX(5%);
  }
  100% {
      transform: translateX(0);
  }
}
@keyframes RtoL {
  0% {
      opacity: 0;
      transform: translateX(100%);
  }
  80% {
      opacity: 1;
      transform: translateX(-5%);
  }
  100% {
      transform: translateX(0);
  }
}
/* banpum mall mobile */
.banpum-mall-header p,.banpum-mall-body p{
  white-space: pre-wrap;
}
.banpum-mall-header {
  position: absolute;
  width: 68%;
  top: 13%;
}
.banpum-header-a {
  font-weight: 600;
  font-size: 3rem;
}
.banpum-mall-body {
  position: absolute;
  left: 12%;
  top: 39%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.banpum-mall-body-a,.banpum-mall-body-b,.banpum-mall-body-c,.banpum-mall-body-d,.banpum-mall-body-e,.banpum-mall-body-f {
  font-size: 1.5rem;
}
.banpum-mall-body-b {
  padding-bottom: 3rem;
}
.banpum-mall-body-e {
  font-weight: 600;
}
.banpum-mall-header p span {
  opacity: 0;
  display: inline-block;
  animation: waveEffectTtoB 2s forwards;
}
.banpum-mall-body p span {
  opacity: 0;
  display: inline-block;
  animation: waveEffectTtoB 0.8s forwards;
}
/* my page mobile */
.my-page-header {
  position: absolute;
  top: 22%;
  width: 77%;
}
.my-page-header p {
  display: none;
}
.my-page-header-a {
  font-size: 3rem;
  font-weight: 600;
}
.my-page-body {
  position: absolute;
  top: 40%;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.my-page-body p {
  display: none;
  padding-bottom: 8px;
  animation: LtoR 1s forwards;
}
.my-page-header-a {
  animation: LtoR 1s forwards;
}
.my-page-body-num {
  font-size: 1.5rem;
  font-weight: 600;
}
.my-page-body-c {
  padding-bottom: 3rem!important;
}
/* esca storage mobile */
.esca-storage-header {
  position: absolute;
  top: 22%;
  width: 77%;
}
.esca-storage-header-a {
  font-weight: 600;
  font-size: 3rem;
  display: none;
  animation: LtoR 1s forwards;
}
.esca-storage-body {
  position: absolute;
  top: 32%;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.esca-storage-cart {
  width: 88%;
  padding-bottom: 3rem;
  animation: RtoL 0.5s forwards;
}
.esca-storage-body-b,.esca-storage-body-c,.esca-storage-body-d {
  padding-bottom: 0.5rem!important;
  display: none;
  animation: waveAnimation 1s ease-in-out;
}
/* costomer service mobile */
.costomer-service-header {
  position: absolute;
  top: 20%;
  width: 66%;
}
.costomer-service-body {
  position: absolute;
  top: 32%;
  left: 12%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.costomer-service-header-a {
  font-weight: 600;
  font-size: 3rem;
  display: none;
  animation: LtoR 1s forwards;
}
.costomer-service-body p {
  padding-bottom: 0.5rem!important;
  display: none;
  animation: waveAnimation 1s ease-in-out;
}
.costomer-service-body-f {
  width: 80%;
  display: none;
  animation: RtoL 1s ease-in-out;
}
@media (min-width: 1921px) {
  .swiper-slide .btn{
    width: 180px;
    height: 80px;
  }
  .my-page-video-monitor {
    width: 1580px!important;
  }
  .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
  .bar {
    width: 92px;
    height: 15px;
  }
  .cross .bar:nth-of-type(1) {
    transform: translateY(25px) rotate(-30deg);
  }
  .cross .bar:nth-of-type(3) {
    transform: translateY(-25px) rotate(30deg);
  }
  .cross:hover .bar:nth-of-type(1) {
    transform: translateY(12.5px) rotate(-21.5deg);
  }
  .cross:hover .bar:nth-of-type(3) {
    transform: translateY(-9.5px) rotate(17.5deg);
  }
  .tooltip-inner {
    font-size: 24px;
  }
}

@media (min-width: 280px){
  .main-video-one {
    position: absolute;
    object-fit: fill!important;
    width: 144%;
    height: 63%;
    left: -8%;
    top: -13%;
  }
  .main-video-two {
    position: absolute;
    object-fit: fill!important;
    width: 121%;
    height: 56%;
    left: -17%;
    bottom: 0;
  }
  .main-footer-empty-space {
    width: 0%!important;
  }
  .main-footer-back {
    padding: 0;
  }
  .main-footer-body {
    width: 100%;
  }
  .main-footer-mark {
    display: none;
  }
  .main-copyrights {
    flex-direction: column!important;
  }
  .main-footer-infos {
    font-size: 15px!important;
  }
  .main-footer-infos a{
    padding: 0.1rem!important;
  }
  .esca-video, .banpum-mall-video, .my-page-video, .esca-storage-video, .costomer-service-video {
    display: none!important;
  }
  .mobile-container{
    display: block!important;
  }
}

@media (min-width: 717px){
  .main-video-one {
    width: 60%;
    height: 100%;
    left: 0%;
    top: 0;
  }
  .main-video-two {
    width: 50%;
    height: 100%;
    left: 50.1%;;
  }
  .main-footer-mark {
    display: none;
  }
  .main-copyrights {
    flex-direction: column!important;
  }
  .main-footer-infos {
    font-size: 17px!important;
  }
  .main-footer-infos a{
    padding: 0.2rem!important;
  }
  .esca-video, .banpum-mall-video, .my-page-video, .esca-storage-video, .costomer-service-video {
    display: none!important;
  }
  .mobile-container{
    display: block!important;
  }
}
@media (min-width: 718px){
  .esca-video, .banpum-mall-video, .my-page-video, .esca-storage-video, .costomer-service-video {
    display: block!important;
  }
  .mobile-container{
    display: none!important;
  }
}
@media (min-width: 1920px){
  .main-video-one {
    left: -0.1%;
  }
  .main-footer-empty-space {
    width: 15%!important;
  }
  .main-footer-back {
    padding: 3rem!important;
  }
  .main-footer-body {
    width: 70%!important;
  }
  .main-footer-mark {
    display: flex;
  }
  .main-copyrights {
    flex-direction: row!important;
  }
  .main-footer-infos {
    font-size: 18px!important;
  }
  .main-footer-infos a{
    padding: 0.5rem 1rem!important;
  }
}

