.accordion-button-single.accordion-button::after {
    display: none!important;
}
.order-tbody {
    height: 400px;
    overflow-y: auto;
}

.order-tbody::-webkit-scrollbar{
    width: 8px;
}

.order-tbody::-webkit-scrollbar-thumb{
    background: linear-gradient(212deg, rgba(223,34,238,0.8) 3%, rgba(37,180,220,0.8) 89%);
    border-radius: 8px;
}

#myPw {
    font-family: sans-serif;
}

.mypage-empty-space {
    width: 15%!important;
}
.mypage-main-space {
    width: 70%!important;
    height: 600px;
}
.mypage-main-mobile {
    height: 508px;
}
@media (min-width : 1024px){
    .mypage-main-mobile {
        display: none;
    }
    .mypage-bt-imgs {
        display: block;
    }
}
@media (max-width : 1440px){
    .mypage-empty-space {
        width: 1%!important;
    }
    .mypage-main-space {
        width: 98%!important;
        display: block;
    }
}
@media (max-width : 1023px){
    .mypage-empty-space {
        width: 1%!important;
    }   
    .mypage-main-space {
        display: none;
    }
    .mypage-main-mobile {
        display: block;
    }
    .mypage-bt-imgs {
        display: none;
    }
}