#receipt-table{
    border-collapse: separate;
}

#first-th{
    width: 16%;
}

.order-sheet-body {
    background-color: rgba(127, 129, 226);
}

.orderSheet-table-body{
    display: none;
}
.order-custom-input-group{
    width: auto;
}
.order-sheet-card-border {
    border-top: 1px dashed gray;
    border-bottom: 1px dashed gray;
}

.goni-img {
    width: 250px;
    height: 250px;
    position: absolute;
    bottom: 12%;
    right: 20%;
    opacity: 0.7;
    cursor: pointer;
}