.banpum-mall-container {
    background-color: #0f0f14;
    min-height: calc(100vh - 579px);
}

.banpummall-item-boxs {
    border: 1px solid #747474;
    border-radius: 8px;
}
.aspect-ratio-3x4 {
    position: relative;
    width: 100%;
    height: 0!important;
    padding-top: 66%;
}
.aspect-ratio-3x4 > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
}

.banpummall-item-boxs {
    cursor: pointer;
}